gradle/fmmr-library/library/src/main/ffmpeg/ffmpeg-android/
gradle/fmmr-library/library/src/main/ffmpeg/ffmpeg-3.0.1/

.DS_Store

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
